<form action="/figures" method="post">

<h1>Create a Figure!</h1>
<p>Enter name: <input type="text" name="figure[name]" id="figure_name"></p>

<h2>Titles</h2>
<h3>Select a title:</h3>
<% @titles.each do |title| %>
<p><%=title.name%> <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"></p>
<% end %>
<p>Enter new title: <input type="text" name="title[name]" id="new_title"></p>


<h2>Landmarks</h2>
<h3>Select landmarks that apply:</h3>
<% @landmarks.each do |lm| %>
<p> <%=lm.name%> <input type="checkbox" name="figure[landmark_ids][]" value="<%=lm.id%>" id="landmark_<%=lm.id%>"></p>
<% end %>
<p>Enter new landmark: <input type="text" name="landmark[name]" id="new_landmark"></p>

<!-- <input type="submit" value="Submit"> -->
<button type="submit" name="Create New Figure" id="Create New Figure">Create New Figure</button>


</form>
